<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Don’t rewrite files or directories that actually exist
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Redirect everything else to index.html
  RewriteRule . /index.html [L]
</IfModule>
