@font-face {
  font-family: 'GoldmanSans';
  src: url('../fonts/goldmansans/GoldmanSans_Bd.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'GoldmanSans';
  src: url('../fonts/goldmansans/GoldmanSans_BdIt.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'GoldmanSans';
  src: url('../fonts/goldmansans/GoldmanSans_Blk.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/* GT Walsheim Pro Bold */
@font-face {
  font-family: 'GTWalsheimPro';
  src: url('../fonts/GTWalsheimPro/GT-Walsheim-Pro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'GTWalsheimPro';
  src: url('../fonts/GTWalsheimPro/GT-Walsheim-Pro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'GTWalsheimPro';
  src: url('../fonts/GTWalsheimPro/GT-Walsheim-Pro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GTWalsheimPro';
  src: url('../fonts/GTWalsheimPro/GT-Walsheim-Pro-Light-4.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}


